body {
  background-color: cadetblue;
  font-family: fantasy;
  text-align: center;
  font-size: 95%;
}
select {
  height: 30px;
  width: 30px;
}
h1 {
  color: white;
}
section {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px 4px;
}
footer {
  color: white;
  font-style: italic;
  text-align: center;
}
