table {
  border-collapse: collapse;
  width: 460px;
  height: 230px;
}

caption {
  color: white;
  background-color: darkgrey;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px RGBA(0,0,0,0.4);
  margin-bottom: 2px;
}

 th {
   text-align: center;
 }

thead th {
  background-color: cornflowerblue;
}

tbody th {
  background-color: lightskyblue;
}

caption, td, th {
     border: 1px solid black;
     padding: 5px;
}

tr:nth-child(even) {
  background-color: RGBA(0,0,0,0.1);
}